  /* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #fafae7;
  color: 333;
  scroll-behavior: smooth;
  margin: 0;
}


/* Seção Hero */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafae7; /* Fundo escuro elegante */
  text-align: center;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 400px;
  height: auto;
  margin-bottom: 20px;
}

.scroll-button {
  background-color: transparent;
  border: 2px solid #1f2833;
  border-radius: 50%;
  color: #1f2833;
  font-size: 24px;
  padding: 15px 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.scroll-button:hover {
  background-color: #1f2833;
  color: #fafae7;
  transform: scale(1.1);
}

/* Main Content Section */
/* Manter seção main-content ocupando o tamanho da tela inteira */


/* Garantir espaçamento e centralização dos elementos internos */



/* Navbar */

nav {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: transparent; /* Torna o menu parte do fundo inicial */
}

.nav-menu li {
  display: inline-block;
  margin: 0 15px;
  list-style: none;
}

.nav-menu li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #1a1a1a;
  padding: 8px 15px;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.nav-menu li a:hover {
  background-color: #1f2833;
  color: #fff;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #494949;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

p {
  font-size: 1.2rem;
  color: #555;
  max-width: 600px;
  text-align: center;
  line-height: 1.8;
  margin: 20px auto 0;
}

.highlight {
  color: #6d1414;
  font-weight: bold;
}

button {
  background-color: #1f2833; /* Botão destacado */
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #6d1414;
  transform: scale(1.05);
}

.main-content {
  text-align: center;
  padding: 20px;
  min-height: 100vh; /* Garante que a altura seja sempre total */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdfdf3;
}








.full-height + section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafae7;
}



.nav {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
  margin: 0 15px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #ff5e57;
  transition: background 0.3s ease;
}

.nav a:hover {
  background-color: #ff4040;
}

.main-content h1 {
  font-size: 3rem;
  font-weight: bold;
}


.projetos {
  background-color: #f5f5dc; /* Tons claros para destacar conteúdo */
  padding: 50px 0;
  text-align: center;
}

.teste {
  display: flex;
  flex-direction: column;
}

.projetos h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 40px;
}

.projetos-container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centraliza os itens horizontalmente */
  gap: 20px; /* Espaçamento entre as imagens */
  flex-wrap: wrap; /* Permite que as imagens quebrem linha se necessário */
  margin-top: 20px;
}

.projeto {
  display: block;
  text-decoration: none;
  color: #333;
  text-align: center;
  width: 300px;
  transition: transform 0.3s ease;
}

.projeto img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.projeto h3 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.projeto:hover img {
  transform: scale(1.05);
}

.projeto:hover {
  transform: translateY(-5px);
}

