/* Reset básico */
body, h2, ul, li, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupe toda a altura da tela */
    margin: 0;
  }
  
  /* Header */
  .header {
    background-color: #002b47;
    color: white;
    padding: 1rem;
  }
  
  .navigation .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  /* Main content */
  .main-content {
    padding: 2rem;
    text-align: center;
    flex: 1;
  }
  
  .gallery-heading {
    margin-bottom: 1rem;
    color: #004d7a;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    gap: 10rem;
  }
  
  .image-item {
    text-align: center;
  }
  
  .image-title {
    font-size: 1.2rem;
    color: #004d7a;
    margin-bottom: 0.5rem;
  }
  
  .gallery-image {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .gallery-image:hover {
    transform: scale(1.05);
  }
  

  .logo-container {
    text-align: center; /* Centraliza a logo horizontalmente */
    height: 120px; /* Altura fixa do espaço da logo */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 65px; /* Espaço entre a logo e as imagens acima */
    margin-bottom: 35px; /* Espaço entre a logo e o footer */
  
  }
  
  .site-logo {
    max-width: 250px; /* Ajuste conforme o tamanho desejado da logo */
    height: auto; /* Mantém a proporção da logo */
  }
  
  
  
  /* Footer */
  .footer {
    background-color: #002b47;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
  }
  
  .footer-navigation .footer-nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .footer-nav-link {
    color: white;
    text-decoration: none;
  }
  
  .footer-nav-link:hover {
    text-decoration: underline;
  }
  
  .footer-text {
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  